body {
  background-color: #141414 !important;
}

.my-nav-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 3rem;
}

.my-home-container {
  width: 90%;
  margin: auto;
  margin-top: 5rem;
}

/* navbar*/

.navbar {
  background-image: linear-gradient(#060606, #141414) !important;
  padding: 0;
  padding-top: 1rem;
  max-height: 3rem;
}

.netflix-logo-nav {
  width: 7vw;
  margin-right: 1rem;
}

a.nav-link {
  color: #d9dadb;
  font-weight: 600;
  font-size: 0.9rem;
  margin-right: 1rem;
}

a.nav-link.right {
  margin-right: 0;
}

svg.search {
  font-size: 1.5rem;
  color: white;
}

svg.bell {
  font-size: 1.3rem;
  color: white;
  margin-right: 1rem;
}

.profile-logo {
  height: 2rem;
}

button.btn.btn-secondary.dropdown-toggle {
  padding: 0;
  background-color: transparent;
  border: transparent;
}

div.dropdown-menu {
  right: 0 !important;
  left: auto;
}
.form-group {
  color: white;
  margin-right: 3rem;
}

.form-svg {
  border: 1px solid white;
  padding: 3px 4px 4px 4px;
  height: 1.3rem;
  width: 1.7rem;
}

/* Footer */

.footer-class {
  margin-left: 14rem;
  margin-top: 6rem;
  bottom: 0rem;
  background-color: black;
}

.footer-icons {
  height: 2rem;
  width: 1.5rem;
}

.list-class {
  list-style: none;
  font-size: 13px;
  padding-left: 0.65rem;
}

.footer-li {
  width: 13rem;
}

.service {
  border: 1px solid gray;
  padding: 6px 6px 6px 6px;
  justify-content: center;
}

img {
  object-fit: cover;
}

div.row {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-left: 1rem;
}

div.col {
  padding: 0;
}

h3 {
  padding-left: 1rem;
  color: white !important;
}

/*-----------------------------------/Add Form-------------------------------------*/

div.form-container {
  width: 50vw;
  margin: auto;
  margin-top: 7rem;
}

a.btn.btn-add-poster {
  background-color: transparent;
  border: solid 1px white;
  color: white;
  width: 50%;
}

div.form-group {
  margin: 0 !important;
}

div.card.card-body {
  background-color: transparent;
}
